<div class="form-group">
    <label class="col-sm-2 control-label" for="input-event-id">{{ entry_event_id }}</label>
    <div class="col-sm-10">
        <input type="text" name="module_bunce_event_trigger_event_id" value="{{ module_bunce_event_trigger_event_id }}" placeholder="{{ entry_event_id }}" id="input-event-id" class="form-control" />
    </div>
</div>
